.section {
  padding: 0px 20px 50px 20px;
  position: relative;
  width: 100%;
}
.about {
  background-color: #f8f8f8;
  margin: 0px 0px;
}
.background {
  position: absolute;
  right: 0px;
  z-index: 1;
  height: 50%;
  width: 30%;
}
.section_title {
  text-align: center;
  padding: 30px;
  font-size: 48px;
  font-weight: 500;
  line-height: 40px;
  position: relative;
  z-index: 10;
  color: #080111;
}
.about .section_body {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  z-index: 10;
}

.about_video {
}
.about_video video {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 4.17414px solid #ffffff;
  box-shadow: -2.73852px 7.30273px 13.6926px 3.65137px rgba(0, 0, 0, 0.35);
}
.doctor_detail {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  margin-top: 30px;
}
.doc_image {
  position: relative;

  width: 260px;
  height: 160px;
}
.doc_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  filter: blur(5px);
  width: 260px;
  height: 160px;
}
/* .doc_image div {
  position: absolute;
  background-color: var(--primary-color);
  filter: blur(5px);
  border-radius: 15px;
  width: 260px;
  height: 180px;
} */
.doc_image .doc_exp {
  position: absolute;
  top: 10px;
}
.doc_image .doc_exp p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  width: 100px;
  color: #ffffff;
}
.doc_image .doc_exp h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: #d4b352;
}
.doctor_detail img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 220px;
  width: 220px;
}

.doctor_data h4 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 500;
  margin-block: 0;
  margin: 10px 0px;
}
.doc_desig {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.social_media_links {
  display: flex;
}
.social_media_links div a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_media_links div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 10px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp {
  background-color: #48c95f;
}
.instagram {
  background: linear-gradient(
    43.94deg,
    #eea054 16.16%,
    #d64763 50.11%,
    #b62a99 83.68%
  );
}
.linkedin {
  background-color: #2878b7;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}

.doctor_desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #080111;
  margin: 20px 0px;
}
.about_doctor .home_book_app a {
  margin: 0 auto;
}

.doctor_data .about-doc-desc{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .section {
    padding: 10px;
  }
  .section_title {
    padding: 0px;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
  .about .section_body {
    display: flex;
    flex-direction: column-reverse;
  }
  .doctor_detail {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
  .social_media_links {
    justify-content: center;
  }
  .doctor_desc {
    text-align: center;
    margin: 20px;
  }
  .doc_image {
    margin-top: 50px;
    position: relative;
  }
  .doc_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
    filter: blur(5px);
    width: 260px;
    height: 160px;
  }
  .about_video video {
    height: 200px;
    width: auto;
    margin: 10px 0px;
  }
  .background {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .about .section_body {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .background {
    width: 50%;
    height: 30%;
  }
  .about_video video {
    width: 100%;
    margin: 20px 10px;
  }
  .section {
    padding: 0px 30px;
  }
}
@media screen and (min-width: 1025px) {
  .section {
    padding: 0px 30px 50px 30px;
  }
}
