.aboutVriksh {
}
.aboutVriksh .header{
  height: 300px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assests//Photos/aboutvkbackgound.jpg");
  background-size: cover;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 70px;
}

.aboutVriksh .header h2 {
  font-weight: 600;
  font-size: 48px;
}
.aboutVriksh .header h3 {
  font-weight: 500;
  font-size: 35px;
}
.aboutVriksh .body {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.aboutVriksh .about_desc{
     padding: 40px 10px 40px 50px ;
}
.aboutVriksh .desc_heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #772c77;
}
.aboutVriksh ul {
  margin: 30px 30px;
}
.aboutVriksh ul li {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px 0px;
}
.aboutVriksh .body{
    background-image: url("../assests/Photos/aboutbackg.png");
    background-repeat: no-repeat;
    background-position: top right;   
}
.about_images{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_images img{
  width: auto;
  height: 500px;
}
@media only screen and (max-width: 480px) {
  .aboutVriksh .header{
    height: 200px;
    padding: 10px;
  }
  aboutVriksh .header h2 {
    font-weight: 600;
    font-size: 30px;
  }
  .aboutVriksh .header h3 {
    font-weight: 500;
    font-size: 20px;
  }
  .aboutVriksh .body {
    grid-template-columns: 1fr;
  }
  .aboutVriksh .about_desc{
    padding: 20px ;
}
  .about_images{
    display: none;
  }
}