.articles{
    padding: 30px 50px;
    background-color: var(--primary-color);
}
.articles .section_subtitle{
    text-align: center;
    color: var(--secondary-color);
}
.articles .section_title{
    color: var(--white-color);
    padding: 10px;
}
.articles .section_body{
    margin: 40px 0px;
}
.article_items{
    display: flex;
    justify-content: center;
}
.multi{
    display: none;
}
.single{
    /* display: none; */
}
.slick-list{
    padding: 20px 0px;
}
.arItems{
    
}

@media only screen and (max-width: 850px) {
    .articles{
        padding: 10px 20px;
    }
    .articles .section_body{
        margin: 20px 0px;
    }
    .multi{
        display: none;
    }
    .single{
        display: block;

    }
    .slick-next{
        right: -20px !important;
    }
    .slick-prev{
        left: -20px !important;
    }
}


