.benefits {
  background-color: #772c77;
  width: 100%;
  position: relative;
}
.benefits .section_title {
  color: var(--white-color);
  margin: 0;
}
.benefits .section_body {
  position: relative;
}
.benefits_items {
  background-color: var(--secondary-color);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  z-index: 10;
  transition: all 0.5s;
}
.benefits_items:hover{
  
}
.benefits-card {
  padding: 10px 30px 30px 30px;
  background-color: #f3ebf3;
  margin: 0px 10px;
  border-radius: 30px;
  transition: all .5s;
}
.benefits-card:hover{
  transform: scale(1.05,1.1);
}
.benefits-image {
  height: 60px;
  width: 60px;
}
.benefits-card-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
}
.benefits-card-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0px;
}
.colorDot1,
.colorDot2 {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #56bdb4;
  box-shadow: 0px 16.5px 16.5px rgba(0, 0, 0, 0.25);
  filter: blur(10.3125px);
  position: absolute;
  z-index: 1;
}
.colorDot1 {
  right: 80px;
  top: -70px;
}
.colorDot2 {
  left: 80px;
  bottom: -70px;
}

@media only screen and (max-width: 400px) {
  .benefits_items {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5px;
  }
  .section{
    padding: 10px;
  }
  .benefits-card {
    padding: 10px 20px;
    background-color: #f3ebf3;
    margin: 10px 10px;
  }
  .benefits .section_body {
    margin-top: 10px;
  }
  .colorDot1,
  .colorDot2 {
    display: none;
  }
}

@media only screen and (min-width:470px) and (max-width: 850px){
  .benefits_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .benefits .section_body{
    padding: 0;
  }
  .colorDot1,
  .colorDot2 {
    display: none;
  }
  .benefits .section_body{
    padding-bottom: 20px;
  }
}
