.choose > img {
  height: 100%;
  position: absolute;
  left: 40%;
  z-index: -1;
}
.choose .section_title {
  text-align: left;
  padding: 30px 0px;
}

.section_subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  color: var(--primary-color);
}
.choose_body {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 20px;
}
.keycards{
  transition: all 0.5s;
}
.keycards:hover{
  transform:translate(0px,-10px)
}
.key_factors {
  display: grid;
  margin: 20px 0px;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.card_heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--black-color);
  margin: 10px 0px;
}
.card_desc {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: var(--black-color);
}

@media only screen and (max-width: 400px) {
  .choose_body {
    grid-template-columns: auto;
  }
  .key_factors {
    grid-template-columns: auto;
  }
  .choose > img {
    position: relative;
    width: 300px;
    height: 300px;
    display: none;
  }

  .choose .section_title {
    padding: 10px 0px;
  }
  .section_subtitle {
    font-size: 20px;
    line-height: 22px;
  }
  .key_factors{
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    margin: 10px 0px;
    row-gap: 10px;
  }
}

@media only screen and (min-width:451px) and (max-width: 850px){
  .choose_body{
    grid-template-columns: auto;
  }  
  .key_factors{
      grid-template-columns: 1fr 1fr;
    }
    .choose > img{
      display: none;
    }
    
}
