.Choose-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-text-part {
    flex: 50%;
    padding-left: 40px;
}

.choose-us-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 80px;
    padding-left: 40px;
}

.choose-reason {
    font-size: 36px;
    font-weight: 400;
    color: #6E3173;
    padding: 0px 0px 30px 40px;
}

.choose-quality-part,
.choose-quality-part2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-quality-part div,
.choose-quality-part2 div {
    padding-left: 40px;
}

.choose-quality-part h1,
.choose-quality-part2 h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}
.choose-quality-part p, .choose-quality-part2 p{
padding-bottom: 50px;
}

.choose-video-part {
    flex: 50%;
}

.choose-video-part img {
    width: 100%;
    height: 100vh;
    left: 0px;
    border-radius: 0px;

}
@media screen and (max-width:360px) {
    .Choose-main {
        display: flex;
        flex-direction: column;
    }
    .choose-text-part {
        /* padding-left: 10px; */
        padding: 0px 20px 0px 20px;
    }
    
    .choose-text-part h1 {
    font-size: 32px;
    }
    .choose-video-part img {
        height: 230px;
        width: 345px;
        border-radius: 20px;
    }
    .choose-text-part h1 {
        font-size: 32px;
    }
    .choose-reason {
        font-size:24px;
        text-align: center;
        padding: 0px 0px 20px 0px;
    }
    
    .choose-text-part {
    text-align: center;
    }
    .choose-quality-part,
.choose-quality-part2 {
    display: flex;
    text-align: left;
    flex-direction: column;
}
.choose-quality-part div,
.choose-quality-part2 div {
    padding-left: 10px;

}



    
    
    
}