.consultation-main {
  padding: 30px 0px;

}
.consultation_tab{
  display: flex;
  justify-content: center;
}
.tabs{
  padding: 10px 20px;
  margin: 20px 20px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  background-color: #c26cc2;
  text-align: center;
}
.appointment_title{
  font-size: 40px;
  text-align: center;
  margin: 10px ;
  font-weight: 500;
}
.tactive{
  background-color: var(--primary-color) !important;
}
@media screen and (max-width: 480px) {
  .consultation_tab{
    flex-direction: column;
  }
  .tabs{
    margin: 5px;
  }
  .appointment_title{
    font-size: 30px;
  }
}
@media only screen and (max-width: 850px){
  
}
