.consultation-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.consultion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffff;
  padding: 60px 40px 20px 40px;
  box-shadow: 1px 5px 12px 2px gray;
  margin-right: -40px;
  margin-top: -20px;
  background-image: url("../assests/svgs/web-01.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.consultion-form h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  color: #772c77;
  margin-top: -20px;
  padding-bottom: 20px;
}
.consultion-form input,
select {
  height: 48px;
  width: 390px;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 20px;
  border: 1px solid gray;
}
.consultion-form button {
  height: 48px;
  width: 297px;
  border-radius: 30px;
  background-color: #772c77;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  margin-top: 10px;
}
.consultation-form-img img {
  height: 520px;
  width: 600px;
  border-radius: 20px;
}
@media screen and (max-width: 400px) {
  .consultation-main {
    flex-direction: column;
  }
  .consultion-form {
    border-radius: 20px;
    padding: 60px 20px 20px 20px;
    margin-right: 0px;
  }
  .consultion-form h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .consultion-form input,
  .dropdown-option {
    height: 30px;
    width: 280px;
  }
  .consultation-form-img img {
    height: 230px;
    width: 380px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 850px){
  .consultion-form h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .consultation-form-img img {
    display: none;
  }
}
