.FAQ-main {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    padding: 50px 0px;
    height: 100vh;
    width: 100%;
}

.FAQ-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 50%;
    padding-left: 40px;
}

.FAQ-left p {
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
}

.FAQ-left h1 {
    font-size: 48px;
    font-weight: 600;
}
select {
    height: 40px;
    width: 250px;
}
.dropbtn, .dropbtn2,.dropbtn3 {
   background-color: #DBB13B;
height: 60px;
width:400px;
border-radius: 10px;
font-size: 22px;
font-weight: 600;
color: white;
border: none;
z-index: 11;
box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
margin-bottom: 10px;
  } 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content, .dropdown-content2,.dropdown-content3 {
    display: none;
    overflow: auto;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    width:400px;
    border-radius: 10px;
    padding: 10px;
  }

  .dropdown-content p, .dropdown-content2 p, .dropdown-content3 p {
    color: black;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
}
  
  .show {
    display: block;
}
  
.show2 {
    display: block;
}
  
.show3 {
    display: block;
}

.FAQ-right {
    flex: 50%;
    background-image: url('../assests/Photos/aboutbackg.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    padding-top: 100px;
}

.FAQ-right img {
    height: 263px;
    width: 263px;
    border-radius: 0px;
    border-radius: 50%;
    border: 2px solid #D4B352;
    position: absolute;
    right: 30px;
    position: relative;
}

.FAQ-right-baby-img1 {
    left: 70px;
    z-index: 1;
    top: 30%;
}
/* @media screen and (max-width:400px) { */

  @media screen and (max-width:400px) {
    .FAQ-main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .FAQ-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .FAQ-left h1 {
        font-size: 32px;
    }
    .dropbtn, .dropbtn2,.dropbtn3 {
        height: 40px;
        width: 327px;
        font-size: 13px;
       } 
       .dropdown-content, .dropdown-content2,.dropdown-content3 {
         height: 130px;
         width: 327px;
        }  
        .FAQ-right {
            background-size: 300px;
            padding-top: 0px;
            background-position:right
        
        }
        .FAQ-right img {
            height: 200px;
            width: 200px;
            position: absolute;
            right: 10px;
            position: relative;
            margin-bottom: 50px;
        }
        
        .FAQ-right-baby-img1 {
            left: 50px;
            z-index: 1;
            top:40%;
        }
        .FAQ-right-baby-img2{
            top: 10%;
        }
        
           
  }