.home_section{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100vh;
}
.home_content{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}
.home_icons img{
    height: 60px;
    width: 60px;
    margin: 0px 10px 0px 0px;
}
.home_brandname{
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: var(--primary-color);
}
.home_content h2{
    font-weight: 500;
    color: var(--secondary-color-light);
    font-size: 42px;
    margin: 20px 0px;
}
.home_content p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 10px 0px;
    color: var(--black-color);
}
.home_book_app,.btn{
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    align-items: center;
    padding: 10px 60px;
    width: fit-content;
    margin: 30px 0px;
}
.home_banner_img img{
    height: 100%;
    width: 100%;
}
.titleclr{
    color: var(--black-color);
}