.Nav_body {
  height: 90px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  margin: 8px auto;
  padding: 0px 20px;
  z-index: 100;

  background: linear-gradient(
    90.24deg,
    rgba(217, 217, 217, 0.4) 2.19%,
    rgba(217, 217, 217, 0.1) 97.39%
  );

  /* box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(15px);

  border-radius: 40px;
  transition: all 0.5s;
  transition-delay: 0s;
}

.app_logo a,
.nav_item a {
  text-decoration: none;
  color: var(--black-color);
}

.app_logo img {
  height: 70px;
  width: 120px;
}

.nav_menu ul {
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav_items li {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
.nav_item {
  margin: 0px 8px;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.nav_items {
  display: flex;
}

.nav_items li:hover a {
  color: var(--primary-color);
}

.nav_items li:hover {
  transform: scale(1.1, 1.1);
}

.get_quote_btn a {
  text-decoration: none;
  color: white;
}
.get_quote_btn {
  margin: 0px 5px;
  padding: 5px 10px;
  background: #772c77;
  border: 1px solid #772c77;
  border-radius: 20px;
}
.get_quote_btn:last-child a {
  color: var(--black-color);
}
.get_quote_btn:last-child {
  background-color: transparent;
  border-color: var(--black-color);
}

.get_quote_btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.get_quote_btn:hover a {
  color: var(--secondary-color) !important;
  border-color: var(--primary-color);
}

.white_bg {
  background-color: #f3f3f3;
  box-shadow: 0px 0px 5px 0px rgb(132, 132, 132);
}

.menu_bar {
  display: none;
}

.enqform {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.8);
}
.enqf_btn {
  font-size: 50px;
  position: relative;
  left: 90%;
  color: red;
  cursor: pointer;
  height: 40px;
}

@media only screen and (max-width: 850px) {
  .Nav_body {
    /* background-color: #f3f3f3; */
    /* box-shadow: 0px 0px 10px 0px black; */
    /* border-radius: 30px; */
    padding: 0px 5px;
  }
  .menus {
    display: flex;
    flex-direction: column;
  }
  .nav_menu ul {
    align-items: flex-start;
  }
  .nav_menu {
    flex-direction: column;
    padding: 50px 30px;
    position: absolute;
    top: 90px;
    right: -100%;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    background: linear-gradient(
      90.24deg,
      rgba(217, 217, 217, 0.949) 2.19%,
      rgba(144, 144, 144, 0.899) 97.39%
    );
    backdrop-filter: blur(50px);
    /* border-radius: 40px; */
  }
  .to_right {
    right: 0;
  }
  .nav_items {
    display: block;
    /* text-align: center; */
  }
  .nav_items li {
    margin: 30px 0px;
  }
  .menu_bar {
    display: block;
    font-size: 30px;
    transition: all 1s;
  }
  .get_quote_btn {
    margin: 10px 10px;
    padding: 5px 30px;
  }
  
}
