
.services_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar{
    width: 25px;
    height: 2px;
    background-color: #898888;
    margin-right: 10px;
}
.services_items{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.services_items .ser_item{
    font-size: 20px;
    font-weight: 300;
    color: #787575;
    cursor: pointer;
}
.services_details{
    
}
.services_body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px 20px 20px 10px;
}