.services_items a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #787575;
}
.services_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar{
    width: 30px;
    height: 2px;
    background-color: #787575;
}
.services_items{
    padding: 10px 0px;
}
.services_details{
    
}
.services_body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px 20px
}