.service_slides{
    width: 60vw;
}
.ser_slide {
  background: #dbb13b;
  border-radius: 20px;
  padding: 30px;
  min-height: 450px;
}
.service_slides .compo_heading{
    font-weight: 600px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
.compo_title {
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  margin: 10px 0px;
}
.compo_desc,
.compo_keyfactors li {
  font-weight: 300;
  font-size: 14px;
  margin: 5px 0px;
}
.compo_keyfactors {
  color: #ffffff;
  margin: 30px 20px;
}
.slick-list{
    padding: 0 !important;
}
.ser_slide{
  position: relative;
}
.ser_slide a{
  text-decoration: none;
  font-size: 15px;
  color:var(--primary-color);
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
}
.ser_slide a .readarr{
  margin: 0px 10px;
  display: flex;
  align-items: center;
}
.service_slides .slick-prev:before, .slick-next:before{
  color: var(--primary-color);
}
.service_slides .slick-arrow{
  background-color: transparent !important;
}

