.service_slides{
    width: 60vw;
}
.ser_slide {
  background: #dbb13b;
  border-radius: 20px;
  padding: 30px;
  min-height: 450px;
}
.service_slides .compo_heading{
    font-weight: 600px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
.compo_title {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  margin: 10px 0px;
}
.compo_desc,
.compo_keyfactors li {
  font-weight: 300;
  font-size: 18px;
  margin: 5px 0px;
}
.compo_keyfactors {
  color: #ffffff;
  margin: 30px 20px;
}
.slick-list{
    padding: 0 !important;
}
