.test_card {
  margin: 10px;
  border-radius: 20px;
  padding: 24px;
  min-height: 250px;
  color: var(--white-color);
  position: relative;
}
.test_user {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0px 10px 0px;
}
.test_user img {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.user_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.user_prof {
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
}
.test_desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (max-width: 480px){
  .test_card{
    padding: 20px;
    margin: 0 10px;
  }
}