.testimonials .section_subtitle{
    text-align: center;
}
.testimonial_cards{
    display: flex;
}
.testimonial_body{
    position: relative;
    z-index: 10;
}
.testimonials .background{
    position: absolute;
    bottom: 0;
    z-index: 1;
}