.testimonials .section_title{
    padding: 30px 0px 10px 0px
}
.testimonials .section_subtitle{
    text-align: center;
}
.testimonial_cards{
    margin: 20px 50px;
}
.testimonial_body{
    position: relative;
    z-index: 10;
}
.testimonials .background{
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.slick-arrow{
    background-color: var(--primary-color) !important;
    border-radius: 50%;
}
.test_single{
    display: none;
}
.testimonials {
    position: relative;
}
.bit1,.bit2{
    top: 20px;
}
.bit2{
    right: 20px;
}
@media only screen and (max-width: 480px){
    .test_multi{
        display: none;
    }
    .test_single{
        display: block;
    }
    .testimonial_cards{
        margin: 10px 15px;
        padding: 10px 0px;
    }
    
}