.testimonialsCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialsCard-Main {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px 40px 20px;
    width: 40%;
    border-radius: 20px;
    background-color: #DBB13B;
    color: white;
    margin-bottom: 30px;
}

.testimonialsCard-dec {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0em;
}

.testimonials-About {
    display: flex;
    justify-content: left;
    align-items: left;
}

.testimonials-Image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-Image img {
    height: 52px;
    width: 52px;
    z-index: 1;
    margin-top: 40px;
}

.testimonialsCard-name {
    margin-left: 60px;
}

.testimonialsCard-name,
.testimonialsCard-age {
    font-size: 24px;
    font-weight: 600;
    line-height: 80px;
}

.testimonialsCard-degig {
    font-size: 14px;
    font-weight: 200;
    margin-left: 60px;
    margin-top: -20px;
}
@media screen and (max-width:400px) {
    .testimonialsCard-Main {
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        /* padding: 0px 20px 20px 20px; */
        width: 90%;
        border-radius: 20px;
        background-color: #DBB13B;
        color: white;
    }
    
    
}