.Treatments-main{
    display: flex;
    /* justify-content: center;
    align-items: center; */
column-gap:2%;
margin: 0px 50px 0px 40px;
}
.Treatments-left{
    flex: 30%;
}
.Treatments-right{
    flex: 70%;
}
.treatments-list li{
    list-style: none;
font-size: 20px;
font-weight: 300;
line-height: 40px;
color: #787575;
scroll-behavior: smooth;
}
.treatments-list a{
    text-decoration: none;
}
.Treatments-right{
    flex: 70%;
}
.treatments-title h1{
    font-size: 48px;
    font-weight: 600;
    /* line-height: 43px; */
}
.treatments-title p{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color:#6E3173;
}
.treatments-subtitle h1{
font-size: 32px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0px;
padding-top: 100px;
}
.treatments-subtitle p{
margin: 20px 0px 10px 0px;
font-size: 20px;
font-weight: 200;
line-height: 25px;
}