/* .Treatments-main {
  display: grid;
  grid-template-columns: 2fr 4fr;
  position: relative;
  column-gap: 10px;
  margin: 0px 40px;
  position: relative;


}
.Treatments-left {
  position: fixed;
  width: 100%;
  margin-top: 30px;
  overflow-y: auto;
} */

.Treatments-main{
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  column-gap: 30px;
  margin: 10px 40px 20px 40px;
  position: relative;
  
}
.Treatments-left{
  margin-top: 200px;
  width: 100%;
  overflow: auto;
}
.treatment > img {
  width: 100%;
  height: 200px;
  position: fixed;
  /* top: -100px; */
  top: 0;
  z-index: 10;
}

.Treatments-right {
  margin-top: 200px;
  height: 70vh;
  padding-right: 10px;
  overflow: auto;
  /* background-image: url("../assests/Photos/aboutbackg.png"); */
  background-repeat: no-repeat;
  background-position: top 0% right 0%;
  scroll-behavior: smooth;
  
}
.Treatments-right::-webkit-scrollbar{
  width: 4px;
  
}
.Treatments-right::-webkit-scrollbar-track{
  background-color: #e1e1e1;
}
.Treatments-right::-webkit-scrollbar-thumb{
  width: 4px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.treatments-list{
  margin: 20px 0px;
}
.treatments-list li {
  list-style: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 20px;
  width: 100%;  
  /* width:30% */
  color: #787575;
  scroll-behavior: smooth;
}
.treatments-list a {
  text-decoration: none;
  color: #787575;
  display: grid;
  grid-template-columns: 0.5fr 9.5fr;
  align-items: center;
  text-align: left;
}

.treatments-title h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  /* line-height: 43px; */
}
.treatments-title p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  
  color: #080111;
  margin-left: 5px;
}
.treatments-subtitle h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  margin: 30px 0px 20px 0px;
  /* padding-top: 100px; */
}
.treatments-subtitle p {
  margin: 10px 0 0 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
.liactive a {
  color: #d4b352;
}
/* faq */
.faq-text {
  font-size: 14px;
  font-weight: 400;
}
.faq-heading {
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0px;
}
.FAQ-main {
  margin: 30px 0px;
}
.FAQ-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
select {
  height: 40px;
  width: 250px;
}
.dropbtn {
  background-color: #dbb13b;
  height: 60px;
  width: 100%;
  /* width: max-content; */
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  z-index: 11;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdowntt {
  position: relative;
}
.faqdrop {
  margin: 10px 0px;
  width: 80%;
}
.faqdrop p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.dropdown-content {
  display: none;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
}

.dropdown-content p {
  color: black;
  font-size: 16px;
  line-height: 18px;
  margin: 5px 0px;
}

.dropdowntt a:hover {
  background-color: #ddd;
}

.show .dropdown-content {
  display: block;
}

.FAQ-right {
  flex: 30%;
  background-image: url("../assests/Photos/aboutbackg.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  padding-top: 100px;
}

.FAQ-right img {
  height: 263px;
  width: 263px;
  border-radius: 0px;
  border-radius: 50%;
  border: 2px solid #d4b352;
  position: absolute;
  right: 30px;
  position: relative;
}

.FAQ-right-baby-img1 {
  left: 70px;
  z-index: 1;
  top: 30%;
}

@media only screen and (max-width: 480px){
  .Treatments-left,.mid{
    display: none;
  }
  .Treatments-main{
    margin: 20px;
    grid-template-columns: auto;
  }
  .treatments-title> h1{
    font-size: 32px;
    text-align: center;
  }
  .treatments-title>p{
    text-align: center;
  }
  .treatments-subtitle h1{
    font-size: 24px;
    line-height: 24px;
    text-align:center;
  }
  .treatments-subtitle p{
    font-size: 16px;
    line-height: 20px;
  }
  .Treatments-right{
    height: auto;
    margin: 0;
  }
  .treatment img{
    position: sticky;
    height: 150px;
    top: -100px;
  }
  .FAQ-left .dropdowntt{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .FAQ-left .dropbtn{
    height: auto;
  }
}