@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:100,200,300,regular,500,600,700,800,900);

:root{
  /* colors */
  --primary-color: #772C77;
  --secondary-color: #DBB13B;
  --secondary-color-light: #D4B352;
  --green-color: #56BDB4;
  --green-bold: #21CEBF;
  --light-color: #F3EBF3;
  --bold-color: #121820;
  --black-color: #000000;
  --white-color: #ffffff;
}
*{
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  font-family: "Lexend Deca",serif;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* whats app icon */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 80px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 45px;
      height: 45px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
      font-size: 25px;
  }
}
@media screen and (max-width: 480px){
  .whatsapp_float{
     bottom: 70px;
     right: 20px;
  }
}
